pipeline/P1_OrchestrationRecipe2.json
{
	"name": "P1_OrchestrationRecipe2",
	"properties": {
		"activities": [
			{
				"name": "CsvDataFolder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CsvDataFolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Insert Metadata",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CsvDataFolder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsertFileMetadata]",
					"storedProcedureParameters": {
						"FileName": {
							"value": {
								"value": "@activity('CsvDataFolder').output.itemName",
								"type": "Expression"
							},
							"type": "String"
						},
						"ModifiedAt": {
							"value": {
								"value": "@convertFromUtc(activity('CsvDataFolder').output.lastModified, 'Pacific Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"UpdatedAt": {
							"value": {
								"value": "@convertFromUtc(utcnow(), 'Pacific Standard Time')",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseTheDATABASE",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-04-22T17:49:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}