pipeline/pl_orchestration_recipe_5_child.json
{
	"name": "pl_orchestration_recipe_5_child",
	"properties": {
		"activities": [
			{
				"name": "Get Email Recipients",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM EmailRecipient",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSQLTables",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "EmailRecipient"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Email Recipients",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Email Recipients').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Send Email",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": "https://prod-02.eastus.logic.azure.com:443/workflows/044cd60ea6474a33afa18e2e4868e0ee/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=6SpW8RgUfqmC8qV02EwVNcok6RKpVPgU7YEgFueVTDE",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": "@json(concat('{\"emailAddress\": \"', item().emailAddress, '\", \"subject\": \"ADF Pipeline Failure\", \"messageBody\": \"ADF Pipeline Failed\"}'))"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}